# NOTE: Requires **VS2019 16.3** or later

# Rules for BovineLabs
# Description: Code analysis rules for BovineLabs projects

# Code files
[*.{cs,vb}]


[*.cs]
dotnet_diagnostic.SA1503.severity=suggestion
dotnet_diagnostic.SA1101.severity=silent
dotnet_diagnostic.SA1600.severity=suggestion
dotnet_diagnostic.SA1502.severity=silent